{% extends "base.html" %}

{% block title %} Cadastro de Post | {{ block.super }}{% endblock %}

{% block extracss %}{% endblock %}

{% block extrajs %}{% endblock %}

{% block content %}
    <!-- Cadastro Post -->
    <div class="row">      
      <div class="large-10 large-centered columns">        
        <h3 id="cadastro">Cadastro de cartão de crédito<small> todos os campos são obrigatórios</small></h3>        
        {% if mensagem %}
            <div class="panel callout radius">
                <p>{{ mensagem }}</p>
            </div>                    
        {% endif %}
        
         <form method="post">{% csrf_token %}       
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">{{ form.bandeira.label }}</span>
                </div>
                <div class="small-9 columns">
                  {{ form.bandeira }}
                </div>
              </div>              
              {% if form.bandeira.errors %}
                  {% for error in form.bandeira.errors %}                                                
                    <small class="error">{{ error }}</small>                          
                  {% endfor %}
              {% endif %}                            
            </div>                     
          </div>

          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">{{ form.nome.label }}</span>
                </div>
                <div class="small-9 columns">
                  {{ form.nome }}
                </div>
              </div>              
              {% if form.nome.errors %}
                  {% for error in form.nome.errors %}                                                
                    <small class="error">{{ error }}</small>                          
                  {% endfor %}
              {% endif %}                            
            </div>                     
          </div>          
          
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">{{ form.numero.label }}</span>
                </div>
                <div class="small-9 columns">
                  {{ form.numero }}
                </div>
              </div>              
              {% if form.numero.errors %}
                  {% for error in form.numero.errors %}                                                
                    <small class="error">{{ error }}</small>                          
                  {% endfor %}
              {% endif %}                            
            </div>                     
          </div>          

          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Validade</span>
                </div>
                <div class="small-4 columns">
                  {{ form.mes_val }}
                </div>
                <div class="small-5 columns">
                  {{ form.ano_val }}
                </div>                
              </div>              
              {% if form.mes_val.errors %}
                  {% for error in form.mes_val.errors %}                                                
                    <small class="error">{{ error }}</small>                          
                  {% endfor %}
              {% endif %}
              {% if form.ano_val.errors %}
                  {% for error in form.ano_val.errors %}                                                
                    <small class="error">{{ error }}</small>                          
                  {% endfor %}
              {% endif %}              
            </div>                     
          </div> 

          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">{{ form.cvc.label }}</span>
                </div>
                <div class="small-9 columns">
                  {{ form.cvc }}
                </div>
              </div>              
              {% if form.cvc.errors %}
                  {% for error in form.cvc.errors %}                                                
                    <small class="error">{{ error }}</small>                          
                  {% endfor %}
              {% endif %}                            
            </div>                     
          </div>
                    
          <div class="row">            
            <div class="large-12 columns">
              <input type="submit"class="small button success right" value="Cadastrar"/>              
            </div>
          </div>
          
        </form>                
      </div>      
    </div>
    <!-- /Cadastro Post -->    
{% endblock %}