<!doctype html>
{% load static from staticfiles %}
<html class="no-js" lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'site/css/foundation.css' %}">
    {% block extracss %}{% endblock %}
    <script src="{% static 'site/js/vendor/modernizr.js' %}"></script>
  </head>
  <body>
    <!--Header-->
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
            {% if user.is_authenticated %}
                <h1><a href="{% url 'home' %}">Olá, {{ user.first_name }}</a></h1>
            {% else %}
                <h1><a href="{% url 'home' %}">Blog Teste</a></h1>
            {% endif %}
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="has-dropdown">
                <a href="#">Blog</a>
                <ul class="dropdown">
                    <li><a href="{% url 'post' %}">Criar Post's</a></li>
                    <li><a href="{% url 'card' %}">Criar Cartão de Crédito</a></li>
                    <li><a href="{% url 'usuario' %}">Criar Usuario</a></li>
                    <li><a href="{% url 'autorelacionamento' %}">Auto Relacionamento</a></li>
                </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Galeria</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'galeria' %}">Fotos</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Efeitos</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'drag_and_drop' %}">Ordenação</a></li>
                        <li><a href="{% url 'progress_bar' %}">Barra de Progresso</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Sessão</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'show-sessao' %}">Mostrar Sessão</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Api</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'get-all-posts' %}">Mostrar Posts</a></li>
                        <li><a href="{% url 'auth-get-all-posts' %}?token=04cc7d1bcf735a37abe5313c40ed4468f6891e0c">Auth Mostrar Posts</a></li>
                        <li><a href="{% url 'auth-login' %}?token=04cc7d1bcf735a37abe5313c40ed4468f6891e0c">Login</a></li>
                        <li><a href="{% url 'auth-session-get-all-posts' %}">Auth Session Posts</a></li>
                        <li><a href="{% url 'auth-logout' %}">Logout</a></li>
                    </ul>
                </li>
                <li><a href="/search/">Busca</a></li>
                <li><a href="{% url 'docs' path %}index.html">Docs</a></li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                {% if user.is_authenticated %}
                    <li><a href="/sair/">Sair</a></li>
                    <li><a href="/admin/">Django Admin</a></li>
                {% else %}
                    <li><a href="/entrar/">Entrar</a></li>
                {% endif %}
            </ul>
          </section>
        </nav>
    <!--/Header-->
    
    <!--Conteudo-->
    <br />
    {% block content %}{% endblock %}        
    <!--/Conteudo-->

    <!--Rodape-->               
    <footer class="row">
      <div class="large-12 columns"><hr>
          <div class="row">   
            <div class="large-4 large-centered columns">
                <p></p>
            </div>                 
          </div>
      </div>      
    </footer>
    <!--/Rodape-->
    
    
    <script src="{% static 'site/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'site/js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
    {% block extrajs %}{% endblock %}
  </body>
</html>
